<div id="<%= dom_id post %>">
  <p>
    <strong>Book title:</strong>
    <%= post.book_title %>
  </p>

  <p>
    <strong>Book author:</strong>
    <%= post.book_author %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= post.note %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

</div>
